.recommendation-container {
  margin-top: 20px;
}

.recommendation-carousel {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 10px 0;
}

.recommendation-card {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.recommendation-card img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.start-recipe-btn {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  left: 50%;
  background-color: #4caf50;
  transform: translateX(-50%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 75px;
}
